body {
    background-color: #131313;
    color: white;
    margin: none;
    background-image: url("moon.png");
    background-size: 100vmin;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 95vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

section {
    background-color: rgba(50, 50, 50, 0.9);
    padding: 10px 0 20px;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 5px;
}
