body {
    background-color: #131313;
    color: white;
    border: 1px solid #9e9e9e;
    /* background-image: url("moon.png");
    background-size: 100vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed; */
    min-height: 95vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

img{
    max-width: 100vw;
    max-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#root{
    max-width: 120ch;
    margin: 0 auto 40px;
    border: 1px solid #9e9e9e;
}

section {
    background-color: rgba(50, 50, 50, 0.9);
    padding: 10px 20px 20px;
    margin: 20px auto;
    max-width: 80ch;
    border-radius: 100vh;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 5px;
}
